/* index.js and index.html styles*/

.navbar {
  display: flex;
  background-color: blue;
}
ul {
  display: flex;
  list-style: none;
  padding: 5px;
  position: relative;
  left: 120px;
}
li a {
  margin: 5px;
  color: #fff;
  text-decoration: none;
}
