* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.carousel {
  display: flex;
  width: 95%;
  margin: auto;
  padding: 20px 0px;
}
.carousel img {
  background: red;
  margin: auto;
  width: 27em;
}

@media screen and (min-width: 764px) {
  .carousel {
    display: flex;
    width: 95%;
    margin: auto;
    padding: 0px 0px;
  }
  .carousel img {
    background: red;
    margin: auto;
    width: 7.8em;
  }
}
