* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.footer {
  display: flex;
  background-color: rgb(223, 223, 223);
}
.logo {
  width: 95%;
  margin: auto;
  text-align: center;

  padding: 12px;
}

.courses {
  display: grid;
  grid-column: 1/7;
}

.dpt {
  border-left: 4px solid rgb(165, 247, 165);
  margin: 20px 15px;
  margin: auto;
}
.emba {
  border-left: 4px solid rgb(165, 247, 165);
}
