* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background: rgba(117, 116, 116, 0.048);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.text {
  text-align: center;
  line-height: 25px;
}
.header {
  color: red;
  font-size: 65px;
  margin: 25px 0px;
  font-weight: 800;
  font-family: sans-serif, "Mandali", sans-serif;
}

.city {
  color: red;
  font-size: 40px;
  margin: 25px;
  font-weight: 300;
  font-family: "baloo", sans-serif;
}

.subheader {
  font-size: 37px;
  font-weight: 200;
}
